@media (max-width: 688px) {
    .massege {
      width: 70%;
    }
    body > button{
      margin: 0;
    }
  } 
  @media (max-width: 410px) {
    .massege > p{
      padding: 5px;
    }
    .massege{
      
    }
    *{
      
      font-size: 15px;
    }
  }