* {
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  font-family: sans-serif;
  font-size: 20px;
  color: #fff;
}
body {
  background: url(images/backgraund.webp) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 60%;
  height: 80%;
}
.form {
  width: 80%;
  height: 40%;
  background-color: rgb(158 158 158 / 50%);
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  margin-bottom: 10%;
  border-radius: 15px;
  border: 1px solid gray;
}
#points {
  width: 80%;
  height: 40%;
  background-color: rgb(158 158 158 / 50%);
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  border-radius: 15px;
}
body > div > form > label {
  font-size: 25px;
  font-weight: bold;
  margin: 5px 0 10px;
  text-align: center;
}
body > div > form > select {
  margin: 0px 0 10px;
  background-color: transparent;
  width: 80%;
  text-align: center;
  padding: 5px;
}
body > div > form > select > option {
  border: 1px solid #fff;
  background-color: rgb(158 158 158 / 30%);
  padding: 5px;
}
body > div > form > input[type="text"] {
  background-color: transparent;
  margin: 0px 0 20px;
  text-align: center;
  border: 1px solid #fff;
  padding: 5px;

}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: .5; /* Firefox */
  }
body > div > form > button {
  background-color: transparent;
  margin: 0px 0 10px;
  text-align: center;
  padding: 5px;
  border-radius: 20px;
  border: 2px solid #fff;
}
#points > div > img {
  width: 50px;
  height: 50px;
}
#points > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
#points > div > span{
    font-size: 25px;
    font-weight: bold;
}
#points > div.gray > span{
    color: blue;
}
#points > div.black > span{
    color: yellow;
}
#points > div.blue > span{
    color: red
}
.title{
    font-size: 30px;
    font-weight: bold;
    margin: 5px;
}